<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solomon.mymusicalstructureapp">

    <application
        android:name=".FavSongs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyMusic"
            android:label="Library"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".FavouriteSongs"
            android:label="@string/favorite"
            android:parentActivityName=".MyMusic"/>
        <activity android:name=".Playlist1"
            android:label="@string/playlist_1"
            android:parentActivityName=".MyMusic"/>
        <activity android:name=".Playlist2"
            android:label="@string/playlist_2"
            android:parentActivityName=".MyMusic"/>
    </application>

</manifest>